
header {
  width: 100%;
  position: relative;
  z-index: 10;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

.heart-icon {
  color: #ffffff;
}

main {
  width: 100%;
  height: 300px;
  vertical-align: middle;
  text-align: center;
}

.center {
  margin-top: 150px;
}


.msgContent {
  text-align: center;

  width: 100vw;
}

.send-box {
  background-color: aliceblue;
  width: 100%;
  z-index: 9999;
  position: fixed;
  bottom: 0px;
}

.space {
  width: 100%;
  height: 50px;
  
}

.Heart {
  color: #FF5252;
  position: relative;
  
  z-index: 0;
}

.Heart{
  animation: anime 1.5s alternate infinite;
}

@keyframes anime{
  0% {color:#FF5252;}
  100% {color:#fac3c3;}
}

